@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Prata&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


@import url(./styles/header.css);
@import url(./styles/footer.css);
@import url(./styles/main.css);

:root{

    --fonte-primaria: "Open Sans", sans-serif;
    --fonte-secundaria: "Great Vibes", cursive;
    --fonte-terciaria: "Prata", serif;
    --fonte-quaternaria: "Comic Neue", cursive;
    --fonte-quintenaria: "Raleway", serif;
    --fonte-sextenaria: "Montserrat", serif;

    --cor-PlanoDeFundo-light: #e7d7c1;

    --cor-primaria: #006d77;
    --cor-secundaria: #ffddd2;
    --cor-terciaria: #83c5be;
    --cor-quaternaria: #ddb7ac;
    --cor-quintenaria: #03989e;

    --cor-fonte-primaria: #fff;
    --cor-fonte-secundaria: #000;
    --cor-fonte-terciaria: #006d77;
    --cor-fonte-quaternaria: #ddb7ac;

}

body{
    font-family: var(--fonte-quaternaria);
    color: var(--cor-fonte-primaria);
    font-size: 1rem;
    font-weight: 400;

    margin: 0;
    padding: 0;

    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
}
