.cabecalho {
    width: 100%;
    height: 1rem;
    position: fixed;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
}

.container {
    margin: 0;
    height: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    background-color: var(--cor-quintenaria);
}

.container_logo {
    max-width: max-content;
    max-height: max-content;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.logo_img{
    width: 13rem;
    height: max-content;
    margin-left: calc(max-content - width);
}

.container__menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

.contato__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1px;
}

.contato__itens {
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15rem;
    height: 2rem;
    align-items: center;
}

.contato__insta__img {
    width: 2rem;
    height: 2rem;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.menu__lista {
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.hamburger-button {
    display: none;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.hamburger-button[aria-expanded="false"].icon::before {
    content: "\2630";
}

.hamburger-button[aria-expanded="true"].icon::before {
    content: "\2715";
}

.hamburger-button-js-enabled .menu__lista {
    display: flex;
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 60px;
    flex-direction: column;
}

.hamburger-button-js-enabled .menu-closed {
    display: none;
}

.menu__itens {
    padding: 10px;
    display: block;
    text-decoration: none;
}

.menu_item:link{
    color: var(--cor-fonte-primaria);
    text-decoration: none;
}

.menu_item:hover{
    color: var(--cor-fonte-terciaria);
}

.menu_item:visited{
    color: var(--cor-fonte-primaria);
}

.menu__itens:hover,
.menu__itens:focus {
    background-color: var(--cor-fonte-quaternaria);
    border: 1px;
    border-radius: 32px;
}

.icon {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    padding: 14px;
}

.hamburger-button-js-enabled {
    display: block;
}

@media (max-width: 1024px) {

    .cabecalho{
        width: 100%;
    }
    .container {
        width: 100%;
        height: 6rem;
        grid-template-columns: 1fr 1fr;
    }

    .container_logo {
        width: max-content;
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }

    .container__menu {
        margin-right: 5rem;
        max-height: 6rem;
    }
}


@media (max-width: 724px) {

    .cabecalho {
        display: flex;
        margin: 0;
        height: max-content;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .container_logo {
        max-width: max-content;
        max-height: max-content;
        display: flex;
        margin-left: 5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .logo_img{
        width: 13rem;
        height: max-content;
     }
    

    .hamburger-button {
        display: flex;
    }

    .menu__lista {
        display: none;
        padding: 0;
        gap: 0;
        flex-direction: column;
    }

    .menu__itens {
        padding: 0.3rem;
    }

    .contato__menu {
        display: none;
    }
}

@media(max-width:500px){
    .cabecalho {
        display: flex;
        width: 100%;
    }

    .container{
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr;
    }
}
