.cabecalho{
    width: 100%;
    height: 1rem;
    position: fixed;
    font-size: 14px;
    font-weight: 400;
}

.container{
    margin: 0rem;
    height: 8rem;
    display: grid;
    grid-template-columns: 35% 65%;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--cor-quintenaria);
}

.logo__img{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 30rem;
    height: 50%;
    margin-left: 5rem;
    margin-top: 0rem;
}

.contato__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 3rem;
}

.contato__itens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15rem;
    height: 2rem;
}
.contato__insta__img{
    width: 2rem;
    height: 2rem;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50rem;
}

.container__menu{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 0;
    height: 8rem;
}

.menu__lista{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.menu__itens{
    color: var(--cor-fonte-primaria);
    text-decoration: none;
}

a:link{
    color: var(--cor-fonte-primaria);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 0.8rem;
    padding: 10px; 
    
}
a:visited{
    color: var(--cor-fonte-secundaria);
    border-bottom: white;
}

a:hover{
    color: var(--cor-fonte-primaria);
    border-bottom:3px solid #fff;
}

a:active{
    color: var(--cor-fonte-primaria);
    border-bottom: 3px solid #fff;

}

.img{
    width:50%;
}