.main{
    margin-top: 15rem;
    color: var(--cor-fonte-terciaria);
}

.home{
    background-color: #f3f0ef;
}

.img{
    display: flex;
    justify-content: space-around;
    height: 50rem;
    background-image: url(../assets/images/Imagem\ do\ WhatsApp\ de\ 2025-01-23\ à\(s\)\ 22.39.10_0f7eecc0.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:50rem;
    align-items: center;
    text-align: center;
}

.home__text{

}
