.main {
    font-family: var(--fonte-sextenaria);
    margin: 10rem 0 0 0;
    color: var(--cor-fonte-terciaria);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: center;
}

/*INICIO DA SECTION HOME*/
.home {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(to right , transparent 10%, var(--cor-secundaria) 40%), url(../assets/images/home-capa.jpg) ;
    background-repeat: no-repeat;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: center;

}

.home_img_capa{
    display: none;
}
.home_img_2 span{
    height: 30rem;
}

.home__text {
    color: var(--cor-fonte-secundaria);
    margin-top: 0.5rem;
    width: 50%;
    margin-left: 50%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: center;
}

.home__text_title {
    font-family: var(--fonte-sextenaria);
    font-size: 2rem;
    color: var(--cor-fonte-terciaria);

}

.home__text_h3,
.home__text_h2 {
    font-weight: 400;
    margin: 0.5rem;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 50px;
    height: 60px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.button {
    transition: all .3s;
    position: relative;
}

.button span {
    color: var(--cor-fonte-secundaria) !important;
    font-size: 14px;
    transition: all .3s;
}
.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.5;
    transition: all .3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--cor-fonte-quintenaria);
    border-bottom-color: var(--cor-fonte-quintenaria);
    transform: scale(0.1, 1);
}
.button:hover span {
    font-size: 14px;
    color: var(--cor-fonte-secundaria);
    letter-spacing: 3px;
}

.button:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    color: var(--cor-fonte-secundaria);
    
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s;
    z-index:1;
    opacity: 0.4;
    background-color: var(--cor-fonte-quintenaria);
}

.button:hover::after {
    color: var(--cor-fonte-secundaria);
    opacity: 0.5;
    transform: scale(0.1, 1);
    background-color: var(--cor-quaternaria);
}

/*FIM DA SECTION HOME*/

/*INICIO DA SECTION PSICOLOGIA*/

.psicologia {
    background-color: var(--cor-quintenaria);
    color: var(--cor-fonte-primaria);
    width: 100%;
    height: 50rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.home_tcc {
    color: #514f4f;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0;
}

.home_itens {
    border-color: var(--cor-secundaria);
    border-radius: 1.5rem;
    padding: 0.5rem;

}

.home_item {
    width: 100%;
    height: max-content;
    flex-direction: column;
    margin: 0;
    border-radius: 1.5rem;
    border: #514f4f dashed 2px;
    padding: .5rem;
}

.home_item .title {
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--cor-fonte-secundaria);
    border-radius: 1.5rem;
}

.psicologia .home__text_title {
    color: var(--cor-fonte-primaria);
    margin-top: 3rem;
}

.swiper {
    width: 90%;
    height: 30rem;

}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    top: 2rem;
}

.swiper-pagination {
    position: initial;
    margin: 10px;
}

.slide {
    display: flex;
    flex-direction: column;
}

.slide_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.slide_img {
    width: 80%;
    text-align: left;
    align-items: center;
    align-self: center;
}

p {
    text-align: justify;
}

.img {
    width: 100%;
    border-radius: 32px;
}

.accordion {
    background-color: var(--cor-quaternaria);
    color: var(--cor-fonte-quintenaria);
    cursor: pointer;
    padding: 1rem;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    opacity: 0.9;
    letter-spacing: 2PX;
  }

  .panel {
    padding: 0 18px;
    background-color: var(--cor-secundaria);
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--cor-fonte-terciaria);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  

/*FIM DA SECTION PSICOLOGIA*/

/*INICIO DA SECTION NEURO*/

.neuro {
    margin-top: 5rem;
    width: 100%;
    height: 70rem;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.neuro_itens{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.neuro_img {
    width: 50%;
    height: 30rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.neuro_itens .img{
    max-height: 30rem;
    width: auto;
}

#neuro .swiper {
    width: 50%;
    height: 30rem;
    background-color: #fff;
    margin: .5rem;
    padding: 2rem;
    border: 1px solid var(--cor-secundaria);
    border-radius: 32px;
}

#neuro .swiper-pagination {
    position: initial;
    margin: 10px;
}

.slide {
    display: flex;
    flex-direction: column;
}

.slide_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.slide_img {
    width: 80%;
    text-align: left;
    align-items: center;
    align-self: center;
}

p {
    text-align: justify;
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 32px;
}

/*FIM*/

/*INICIO DA SECTION DEPOIMENTOS*/

.container_depoimentos {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-quintenaria);
    color: var(--cor-fonte-primaria);
}

/*FIM*/

/*INICIO DA SECTION SOBREMIM*/

.container_sobreMim {
    margin: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
    border: solid 1px var(--cor-quintenaria);
    border-radius: 2rem;
    text-align: justify;
    align-items: center;
    align-self: center;
}

.sobreMim_img_text {
    width: max-content;
    padding: 2rem;
}

.sobreMim_text .title {
    text-align: center;
}

.sobreMim_text .subtitle {
    text-align: center;
}

.sobreMim_itens {
    padding: 1rem;
    width: 80%;
    margin: 2rem;
    text-decoration: none;
}

.sobreMim_img {
    border-radius: 10rem;
    text-align: center;
}

.sobreMim_img .img {
    width: 50%;
    border-radius: 2rem;
}

/*FIM*/

/*INICIO DA SECTION CONSULTORIO*/

.container_consultorio {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultorio_img {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 0;
}

.carousel-item .img {
    width: 100%;
}

/*FIM*/

/*INICIO DA SECTION BLOG*/

.blog {
    background-color: var(--cor-secundaria);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*FIM*/

@media (max-width: 1024px) {

    .main {
        width: 100%;
        margin-top: 8rem;
    }

    .home {
        margin: 0;
        height: 35rem;
    }

    .home__text{
        height: auto;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 40%;
        color: var(--cor-secundaria)
    }

    /*Inicio de NEURO*/

    .neuro{
        height: auto;
    }

}

@media (max-width: 724px) {

   /*inicio da responsividade para HOME*/

   .home {
    width: 100%;
    height: 50rem;
    background-image: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: center;
}

.home_img_capa{
    display:contents;

    content: "";
    height: fit-content;
    display: block;
}

.img_capa{
    content: "";
    height: fit-content;
    width: 100%;
}


   /*FIM HOME*/


   /*inicio da responsividade para PSICOLOGIA*/
    .psicologia {
        height: min-content;
    }

    .swiper-pagination {
        margin: 1em 0;
    }


    .slide_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .slide_img {
        width: 30%;
    }

}



/*FIM PSICOLOGIA*/

/*inicio da responsividade para NEURO*/

.neuro_img{
    display: none;
}



/*FIM NEURO*/

@media (max-width: 480px) {
    .home {
        height: 65rem;
        justify-content: center;
        background-color: var(--cor-secundaria);
        background-image: none;
        margin: 0;
    }
    .home_img_capa{
        height: 30rem;
    }

    .img_capa{
        height: 100%;
        width: auto;
    }

    .home__text {
        margin: 0;
    }

    .home_tcc {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1.5rem;
    }
    /*inicio de NEURO*/

    .neuro{
        height: auto;
        margin-top:1rem;
    }

    .neuro_img{
        display: none;
    }
    
    .slide_img .img{
        width: 100%;
    }
}